*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

#main {
    padding: 15px 12px;
    background-color: rgb(71, 134, 138);
    height: 100%;
    width: 100%;
    text-transform: capitalize;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
    
    
}



.card{
height: 300px;
width: 190px;    
padding: 30px;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
background-color: white;
flex-direction: column;
flex-shrink: 0;
box-shadow: 11px 11px 20px rgb(227, 19, 105);
transition: all ease 1s;
}

.card img{
    height :100px;
    width: 100px;
    padding: 5px;
    border-radius: 50%;
    object-fit: cover;
    
    


    
}

.card h2{
    padding: 5px;
    text-align: center;
    font-size: 18px;
    font-weight: 800;

}

.card p{
    padding: 10px;
    font-size: 12px;
    font-weight: 540;
    text-align: center;
}

.card button{
    font-size: 15px;
    font-weight: 500;
    margin-top: 10px;
    padding: 7px 15px;
    border-radius: 50px;
    border: 2px solid rgb(211, 72, 37);;
    /* border-color: rgb(211, 72, 37); */
    background-color:rgb(212, 164, 205) ;
    cursor: pointer;

}

.card button:hover{
    color:rgb(255, 255, 255);
    background-color: rgba(94, 65, 112, 0.908);
}

.card:hover{
    background-color: rgba(134, 67, 67, 0.848);
    /* background: linear-gradient(rgba(210, 46, 46, 0.801), rgba(85, 141, 32, 0.44), rgba(179, 179, 48, 0.785)); */
    /* transition: all ease 10s; */
}